@import url("reset.css");

body {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333*/
    font: 12px "Lucida Console", Monaco, monospace;
}

p {
    padding: 10px;
}
.face {
		height: 30%;
		width: 30%;
		float: left;
}
.dsdcviz {
		/*height: 100%;*/
	  width: 65%;
	  

}
.caption {
	margin-left: 28%;
	/*text-align: center;*/
}

#wrapper {
    width: 100%;
    min-width: 600px;
    max-width: 2000px;
    margin: 0 auto;
}

#headerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#header {
    height: 75px;
    /*background: #FF6633;
    border-radius: 10px;
    border: 1px solid #eb521f;
    margin: 5px;*/
}

#contentliquid {
    float: left;
    width: 100%;
}

#contentwrap {
    margin-left: 250px;
    float: left;
    border-radius: 10px;
    
}

#content {
    /*background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;*/
    margin: 5px;
}

#leftcolumnwrap {
    width: 240px;
    height: 400px;
    margin-left: -100%;
    float: left;
    
}

#leftcolumn {
    /*background: #33CCFF;*/
    
    margin: 5px;
}

#footerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    /*background: #33FF66;
    border-radius: 10px;
    border: 1px solid #1feb52;*/
    margin: 5px;
}

ul.tabNav { 
    
    float: left; 
    list-style: none; 
    width: 100%; 
}
ul.tabNav li { 
    float: left; 
    margin: 0 1px 0 0; 
    padding: 6px 0 0; 
}
ul.tabNav li.current { 
    padding-top: 0; 
}
ul.tabNav a { 
    border-radius: 15px; 
    background: #ececec; 
    border: 1px solid #dedede; 
    border-width: 1px 1px 0; 
    color: #333; 
    display: block; 
    padding: 4px 4px 5px 4px; 
    text-decoration: none; 
}
ul.tabNav li.current a { 
    background: #dedede; 
    border: none; 
    padding: 8px; 
}

div.tabContainer { 
    margin-top: 5%; 
    clear: both; 
    float: left; 
    width: 100%; 
}
div.tabContainer div.tab { 
    color: #000; 
    display: none; 
    padding: 10px;
}
div.tabContainer div.current { 
    display: block; 
    /*border-radius: 10px;
    border: 1px solid black;*/
}
div.tab p:last-child { 
    margin-bottom: 0; 
}
ul.aboutlist{ 
    padding-left: 30px;
}

